@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');

@import url(./navbar.css);
@import url(./film.css);
@import url(./footer.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
}

:root {
    --left-position: 55%;
    --transition-time: 1.2s cubic-bezier(0.25, 1, 0.5, 1);
    --main-color: #872f61;
    --second-color: #4e4e4e;
}

.button_main {
    font-size: 16px;
    background: none;
    border: none;
    position: relative;

    --padding-block: 1rem;
    --padding-inline: 2rem;
    --arrow: 5rem;
    --arrow-stripes: .8rem;

    padding: var(--padding-block) var(--padding-inline);
    padding-right: calc(var(--padding-inline) + var(--arrow));
    filter: drop-shadow(4px 4px 4px hsl(0 0% 0% / .5));
    color: white;
    border-radius: 999vmax 0 0 999vmax;
    cursor: pointer;
    transition: all 125ms
}

.button_main:active {
    scale: .975;
}

.button_main:hover::after {
    animation-play-state: paused;
}

.button_main::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    background-color: var(--main-color);
    background-image: linear-gradient(transparent 50%, hsl(0 0% 0% / .5) 0);
    animation: mask-position 5s linear infinite;

    --conic-stops: black 0 90deg, #0000 0;
    --linear-stops: #0000 0px, black 1px var(--arrow-stripes), #0000 calc(var(--arrow-stripes) + 1px) calc(var(--arrow-stripes) * 2);
    --mask-image:
        conic-gradient(from 225deg at right, var(--conic-stops)),
        conic-gradient(from 225deg at right, var(--conic-stops)),
        repeating-linear-gradient(-135deg, var(--linear-stops)),
        repeating-linear-gradient(-45deg, var(--linear-stops));
    --mask-position: 0 0, 0 0, 0 0, 0 100%;
    --mask-position-to: 0, 0, -100% 0, -100% 100%;
    --mask-size: calc(100% - var(--arrow)) 100%, 100%, 200% 50%, 200% 50%;
    --mask-repeat: no-repeat, repeat, repeat-x, repeat-x;

    -webkit-mask-image: var(--mask-image);
    -webkit-mask-position: var(--mask-position);
    -webkit-mask-size: var(--mask-size);
    -webkit-mask-repeat: var(--mask-repeat);
    -webkit-mask-composite: source-over, source-out, source-over, source-over;

    mask-image: var(--mask-image);
    mask-position: var(--mask-position);
    mask-size: var(--mask-size);
    mask-repeat: var(--mask-repeat);
    mask-composite: add, subtract, add, add;
}

@keyframes mask-position {
    to {
        -webkit-mask-position: var(--mask-position-to);
        mask-position: var(--mask-position-to);
    }
}




.svg-icon {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    fill: grey;
    transform: rotate(-45deg);
    transition: transform 0.5s ease-out;
    font-weight: bolder;
}

.button_main:hover .svg-icon {
    transform: rotate(0deg);
    fill: var(--main-color);
}

.text-reveal {
    display: flex;
    gap: 0.5rem;
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
    overflow: hidden;
    flex-wrap: wrap;
}

.word {
    display: inline-block;
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-50px);
    animation: slideIn 5s ease infinite;
}

.word:nth-child(1) {
    animation-delay: 0.2s;
}

.word:nth-child(2) {
    animation-delay: 0.5s;
}

.word:nth-child(3) {
    animation-delay: 0.8s;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
        filter: blur(10px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }

    80% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }


    100% {
        opacity: 0;
        transform: translateX(-50px);
        filter: blur(10px);
    }
}





.design_container {
    padding: 0 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    min-height: 100vh;
}

.design_card {
    position: relative;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
}

.design_card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card_content {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
    z-index: 11;
    color: #fff;
    width: 100%;
    padding: 10px 20px 10px 20px;
    background: var(--main-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    transform: translateY(100px);
    transition: .3s;
}

.card_content_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_content_body p {
    font-size: 18px;
}

.card_content_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_content2 {
    width: 60px;
    background: var(--main-color);
    padding: 17px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    transform: translateX(-50px);
    transition: .3s;
}

.card_content2 i {
    color: #fff;
    cursor: pointer;
    font-size: 28px;
    transition: .2s;
}

.card_content2 i:hover {
    transform: scale(1.1) translateX(5px);
}

.design_card:hover .card_content {
    opacity: 1;
    transform: translateY(0);
}

.design_card:hover .card_content2 {
    opacity: 1;
    transform: translateX(0);
}

.arrow-button {
    display: flex;
    color: var(--main-color);
    background-color: #fff;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
}

.arrow-button>.arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s;
}

.arrow-button>.arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s;
    content: "";
    right: 0;
}

.arrow-button:hover>.arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.arrow-button:hover>.arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    background-color: var(--main-color);
    color: #fff;
}

.arrow-button:hover .arrow {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.design_category {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 0 20px 0;
}

.design_category p {
    cursor: pointer;
    font-size: 20px;
}

.all {
    padding: 100px 0;
    background: #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.design_category_container {
    display: flex;
    align-items: center;
}

@media only screen and (max-width:1330px) {
    .design {
        padding-top: 50px;
    }
}

@media only screen and (max-width:1250px) {
    .card_content h1 {
        font-size: 25px;
    }

    .design_card {
        height: 400px;
    }

    .card_content {
        padding: 10px;
    }

    .card_content_body p {
        font-size: 16px;
    }

    .card_content2 i {
        font-size: 22px;
    }
}

@media only screen and (max-width:1100px) {
    .design_container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 50px;
    }

    .design_card {
        height: 500px;
    }

    .card_content2 {
        width: 50px;
    }

    .card_content {
        padding: 10px 20px;
    }
}


@media only screen and (max-width:768px) {
    .design_container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 80px;
    }

    .design_card {
        height: 650px;
    }

    .card_content_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card_content_body p {
        font-size: 18px;
    }

    .card_content_body {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .card_content_body button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-reveal .word {
        font-size: 25px;
    }
}

@media only screen and (max-width:600px) {
    .design_container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 50px;
    }

    .design_card {
        height: 550px;
    }

    .text-reveal .word {
        font-size: 20px;
    }
}

@media only screen and (max-width:400px) {
    .design_container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 50px;
    }

    .design_card {
        height: 400px;
    }
}

.nav {}